doctype html
html(lang="en")
    head
        title="Shortnr"

    body
        div.container
            div.row
                h1 Shortnr

            div.row
                form(action="/", method="POST")
                    input(type="url", name="url")
                    input(type="hidden", name="ui", value="true")
                    input(type="submit", value="Submit")
